<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ol>
            <game-item v-for="item in games" v-bind:game="item"></game-item>
        </ol>
    </div>
</body>
<script>
    Vue.component('game-item', {
        props: ['game'],
        template: '<li>{{game.title}}</li>'
    });
    const myapp = new Vue({
        el: '#app',
        data: {
            seen: true,
            games: [
                { title: '勇士半恶泰龙', price: 400 },
                { title: '天开向上', price: 500 }
            ]
        }
    });
</script>

</html>